body {
    background-color: rgba(185, 187, 190, 0.897);
    color: black;
    border: 5px solid;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: rgb(197, 24, 53);
    border: 10px double;
    padding: 50px;
    font-size: 140px;
}

p {
    text-align: center;

}

em strong {
    color: rgb(10, 72, 165);
}

#banner {
    width: 80%;
}

.itens {
    font-style: italic;
    text-align: left;
}

.beneficios {
    background: rgba(194, 7, 7, 0.986);
    padding: 20px;
}

h2 {
    text-align: center;
    border: 10px double;
    font-size: 90px;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 45px;
    line-height: 1.5;
}
.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "🟊";
}

.imagembeneficios {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagembeneficios:hover {
    opacity: 0.3;
}
