body{
background-color: aliceblue;
color: black;
border: 3px solid;
text-align: center;
font-size: 25px;
}

h1{
    text-align: center;
    background-color: rgb(192, 166, 93);
    border: 10px double;
    padding: 50px;
    font-size:140px;
}

p{
    text-align: center;
    
}
em strong{
    color: rgb(10, 72, 165);
}

#banner{
    width: 80%;
}


